/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #3B1E54;
    background-alt: #9B7EBD;
    foreground:     #D4BEE4;
    selected:       #EEEEEE;
    active:         #EEEEEE;
    urgent:         #D4BEE4;
}
